/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 11, 2021, 8:24:53 AM
    Author     : tomnyson
*/

.dangnhap {
    width: 400px;
    padding: 30px;
    margin: 0 auto;
}
.dangky, .quenmk {
    display: block;
    padding: 5px 0px;
}

.header {
    display: flex;
    justify-content: space-between;
}